.container-principal-about-me {
    background: #EEFCF9;
    margin: -3rem 2rem 6rem 2rem;
}

.container-about-me {
    text-align: left;
    align-items: center;
    margin-left: 1rem;
    color: #00392F;
}

h5 {
    padding-top: 1rem;
    text-align: center;
    color: #00392F;
}

.logoLaboratoria{
    width: 140px;
}

.init-section-avatar{
    width: 30%;
    margin-left: 9%;
    margin-right: 2rem;
}