.container-principal{
    background: #33c9b8;
    padding-bottom: 3rem;
}

.init-section-avatar{
    
    margin-right: 2rem;
}

.init-section-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: #00392F;
}

img{
    width: 30%;
    margin-left: 9%;
}

.videoLogo{
    width: 50%;
   margin-left: 9%;
}