.container-principal{
    background: #33c9b8;
    padding-bottom: 3rem;
}

.init-section-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: #00392F;
}

.gifLogo{
    width: 50%;
    padding-bottom: 0%;
}