.container-proyects{
    display: flex;
    background: #569D92;
    margin: 0 auto;
}

video{
    margin-left: 1rem;
    margin: 1rem 1rem 1rem 1rem;
}

h3{
    background: #EEFCF9;
    text-align: center;
    margin: 1rem 1rem -1rem 1rem;
    
    
}
.container-desciption{
 margin: 1rem 1rem 1rem 1rem;
 color: #EEFCF9;
 font-size: 23px;
}

.container-principal-proyects{
    margin-top: -2rem;
}
.title-proyect-cipher{
    color: #c93344;
    margin-bottom: 0rem;
    z-index: -1;
}