@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap");



h1{
    font-size: 3rem;
    padding-bottom: 25px;
}
h3 {
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    }

h5{
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
}

.init-section-name{
    display: flex;
    justify-content: space-between;
    background: #33c9b7cc;
    height: 150px;
    position: fixed;
    width: 100%;
}

#navegador ul{
    list-style-type: none;
    text-align: center;
    margin: 58px 70px 0 0;
    
   
 }

 #navegador li{
    display: inline;
    margin: 58px 26px 0 40px;
    font-size: 18px;
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
}

 #navegador li a {
    color: black;
    text-decoration: none;
    align-content: space-around;
 }
 
 #navegador li a:hover{
    background-color: #c93344;
    color: #ffffff;
 }

.gifLogo{
    align-self: flex-start;
    width: 300px;
    padding-top: 45px;
    margin-left: 17px;
}

.container-principal-about-me {
    background: #FFFFFF;
    margin: 0px 25px 20px;
    padding-top: 150px;
}

.title-about-me{
    color: #00392F;
    padding: 30px 0px 30px 0px;
}
.container-about-me {
    display: flex;
    text-align: left;
    color: #00392F;
    background:  #FFFFFF;
}

.logoLaboratoria{
    width: 140px;
}

.init-section-avatar{
    max-width: 320px;
    margin: 10px 10px 86px 25px;
}

.article-about-me{
    font-family: 'Allerta Stencil', sans-serif;
    margin: 0px 30px 0px 75px;
    font-size: 18px;
}

.container-principal-proyects{
    display: flex;
    background: #33c9b8;
    padding: 80px 41px 65px 41px;
    flex-direction: row;
}
.container-principal-proyects h3 {
    text-align: left;
}

.title-proyects{
    font-family: 'Allerta Stencil', sans-serif;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;  
}

.title-proyect-cipher{
    color: #c93344;
    font-size: 40px;
}
.links-to-projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-description{
    font-family: 'Allerta Stencil', sans-serif;
    color: #00392F;
    font-size: 20px;
    padding: 0px 0px 0px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gif-cipher{
    max-width: 250px;
}
.logo-github{
    width: 40px;
}
.direction{
    font-weight: bold;
    font-size: 28px;
    color: #c93344;
}

.container-principal-social{
    font-family: 'Allerta Stencil', sans-serif;
    display: flex;
    background: #FFFFFF;
    padding: 100px 41px 65px 41px;
    flex-direction: row;
}

.container-description-social{
    font-family: 'Allerta Stencil', sans-serif;
    color: #00392F;
    font-size: 20px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.gif-social{
    width: 250px;
}
.title-proyect-social{
    color: #c93344;
    font-size: 40px;
}

.title-proyect-social h3{
    text-align: right;
}

.container-skill{
    background: #33c9b8;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.container-skill h3{
    margin-top: 30px;
}

.container-icons .icon{
    width: 30px;
}

.container-icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-me{
    background: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
}
#contacMe{
    margin-top:30px;
}
/* Desktop First empiezo por el mediaquery mas grande */

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 430px){

    body {
        width: 100%;
    }

    .init-section-name {
        justify-content: center;
        flex-wrap: wrap;
        height: 150px;
    }
    #navegador{
        display: flex;
    }

    #navegador ul {
        display: flex;
        margin: 0px 70px 0 0;
}
#navegador li {
    margin: 3px 15px 0 40px;
}

.container-principal-about-me{
   text-align: center;
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 160%;
    justify-content: center;
}


.container-about-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .init-section-avatar{
    display: flex;
    justify-content: center;    
    padding: 0px 0px 42px 0px;
}

.article-about-me{
    margin: 0px 30px 0px 75px;
}

.container-principal-proyects{
    flex-wrap: wrap;
    align-items: center;
    width: 175%;
    padding: 0;
}

.title-proyects {
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 175%;
}
.container-principal-proyects h3 {
    justify-content: center;
}
p{
    margin: 0px 20px 35px 20px;
    text-align: center;
}
.container-description {
    margin-bottom: 55px;
    padding: 0;
    font-size: 25px;
}
.container-principal-social {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 175%;
    padding: 0;
}
.title-proyect-social {
    display: flex;
    justify-content: center;
}
.links-to-projects{
    justify-content: space-around;
}
.container-skill{
    width: 175%;
}
.contact-me{
    width: 175%;
}
}