@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap");


body {
    font-family: 'Lato', 'Helvetica Neue', sans-serif;
    }

h2 {
        font-family: 'Allerta Stencil', sans-serif;
    }

h5{
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
}

.container-principal{
    background: #33c9b8;
    height: 200px;
}

.init-section-name{
    display: flex;
    justify-content: flex-start;
}

.gifLogo{
    align-self: flex-start;
    width: 380px;
}
/* Desktop First empiezo por el mediaquery mas grande */
@media screen and (max-width: 1024px){
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 480px){
}

@media screen and (max-width: 320px){
}