@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap");


h3 {
        font-family: 'Allerta Stencil', sans-serif;
        text-align: center;
    }

h5{
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
}

.container-principal{
    background: #33c9b8;
    height: 200px;
}

.init-section-name{
    display: flex;
    justify-content: flex-start;
}

.gifLogo{
    align-self: flex-start;
    width: 380px;
}

.container-principal-about-me {
    background: #EEFCF9;
    margin: -50px 20px 20px 20px;
}

.title-about-me{
    padding-top: 10px;
    color: #00392F;
    padding: 30px 0px 30px 0px;
}
.container-about-me {
    display: flex;
    text-align: left;
    align-items: center;
    margin-left: 25px;
    color: #00392F;    
}

.logoLaboratoria{
    width: 140px;
}

.init-section-avatar{
    width: 320px;
}

.article-about-me{
    display: block;
    margin: 0px 30px 0px 50px;
}
/* Desktop First empiezo por el mediaquery mas grande */
@media screen and (max-width: 1024px){
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 480px){
}

@media screen and (max-width: 320px){
}